@mixin dflex($just: center, $align: center) {
    display: flex;
    align-items: $align;
    justify-content: $just;
}

@mixin psevdo($cont: "", $pos: absolute, $topValue: 0, $ind: -1) {
    content: $cont;
    position: $pos;
    top: $topValue;
    z-index: $ind;
}

@mixin large() {
    @media screen and (max-width: 1300px) {
        @content;
    }
}

@mixin desctop() {
    @media screen and (max-width: 1100px) {
        @content;
    }
}
@mixin tablet() {
    @media screen and (max-width: 992px) {
        @content;
    }
}
@mixin smallTablet() {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mobile() {
    @media screen and (max-width: 576px) {
        @content;
    }
}
