/* colors start */
$withOutColor: transparent;
$whiteColor: #fff;
$light: #fdf8fc;
$black: #2c150e;
$grey: #787878;
$darkBrown: #472f31;
$blue: #0064EB;
$red: #ff0000;
$orange: #d87b02;
$darkRed: #b30000;
$brown: #b14701;
$green: #028f3d;
/* colors end */

/* values start */
$transitionTime: 0.3s;
$borderRadius: 5px;
$sizeItemButton: 20px;
$boxShadow: 3px 3px 10px transparentize($black, 0.5);
$paddingContent: 20px;
/* values end */
